# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Environment variables (IMPORTANT - security)
.env
.env.*

# Git
.git/
.gitignore

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Node (if any frontend later)
node_modules/

# Docker
Dockerfile
.dockerignore